.button {
  display: flex;
  align-items: center;
  border-radius: 3.125rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  gap: 0.625rem;
  width: 100%;
  min-width: 375px;
  min-height: 48px;
  align-items: center;
  justify-content: center;  
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.naver {
  background-color: #03C75A;
  color: #FFF;
}

.google {
  background-color: #FFF;
}

.kakao {
  background-color: #FEE500;
}