.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "NanumSquare Neo";
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: -0.00625rem;
  border: none;
  border-radius: 6.1875rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background 0.15s, opacity 0.15s;
  flex: 1;
}
.button:hover {
  opacity: 0.6;
}
.primary {
  width: 100%;
  height: 2.5rem;
  background: var(--Button-Solid-Primary, #FF6257);
  color: var(--text-text-5-inverse, #F2F0F0);
}
.assistive {
  width: 100%;
  height: 2.5rem;
  background: var(--Button-Solid-Assistive, #E8E7E7);
  color: var(--Text-Text-1, #202020);
}
.large {
  width: 100%;
  height: 2.5rem;
  background: var(--Button-Solid-Primary, #FF6257);
  color: var(--text-text-5-inverse, #F2F0F0);
}
