.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    border-radius: 6.1875rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background 0.15s, opacity 0.15s;
  }
  .button:hover {
    opacity: 0.6;
  }
  .pink {
    width: 20.9375rem;
    height: 2.5rem;
    background: var(--Button-Solid-Primary, #FF6257);
    color: var(--text-text-5-inverse, #F2F0F0);
  }
  .gray {
    width: 20.9375rem;
    height: 2.5rem;
    background: var(--Button-Solid-Assistive, #E8E7E7);
    color: var(--Text-Text-1, #202020);
  }
  .large {
    width: 20.9375rem;
    height: 3rem;
    background: var(--Button-Solid-Primary, #FF6257);
    color: var(--text-text-5-inverse, #F2F0F0);
  }
  