.textbox {
  position: relative;
  width: 20.9375rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex: none;
  order: 1;
  flex-grow: 1;
  z-index: 1;
}

.title {
  position: absolute;
  font-family: 'NanumSquare Neo';
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #202020;
  top: 0.875rem;
  left: 1rem;
}

.star {
  position: absolute;
  color: #FF4242;
  font-feature-settings: 'ss10' on;
  font-family: "Pretendard JP";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.429rem;
  letter-spacing: 0.0127rem;
  top: 0.8125rem;
  left: 2.8125rem;
}

.detail {
  position: absolute;
  overflow: hidden;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  font-family: var(--Font-Family-font-family, "NanumSquare Neo");
  font-size: 1.125rem;
  font-style: normal;
  line-height: var(--Line-Height-line-height-XL, 1.875rem);
  letter-spacing: -0.0175rem;
  top: 2.375rem;
  left: 1rem;
}

.input {
  position: absolute;
  top: 2.375rem;
  left: 1rem;
  width: 17.5rem;
  height: 1.875rem;
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-family: "NanumSquare Neo";
  background-color: transparent;
  color: #202020;
}

.input::placeholder {
  color: #d0d0d0;
}

.icon {
  position: absolute;
  top: 2.5625rem;
  right: 1rem;
}

.default {
  border: none;
}

.active {
  border: 0.0625rem solid #ccc;
}