/* src/app/globals.css */

/* 스크롤바 숨기기 */
/* Firefox */
html {
  scrollbar-width: none;  
}
/* Chrome/Safari/Edge */
html::-webkit-scrollbar {
  display: none;            
}

/* 폰트 적용 */
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff");
}