/* 라이트 모드 */
:root {
  --bg: #F9F7F7;
  --fg: #202020;
  --BG-BG-2: #F2F0F0;
  --BG-BG-3: #FFFFFF;
  --BG-BG-4: #E8E7E7;
  --Text-Text-1: #202020;
}

/* 다크 모드 */
html[data-app-theme="dark"] {
  --bg: #202020;
  --fg: #F2F0F0;
  --BG-BG-2: #2A2A2A;
  --BG-BG-3: #2A2A2A;
  --BG-BG-4: #3A3A3A;
  --Text-Text-1: #F2F0F0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--fg);
  overflow-y: auto;
}

/* 스크롤바 숨기기 */
/* Firefox */
html {
  scrollbar-width: none;  
}
/* Chrome/Safari/Edge */
html::-webkit-scrollbar {
  display: none;            
}

/* 폰트 적용 */
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff");
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff");
}