
.textbox {
  position: relative;
  width: 335px;
  height: 80px;
  min-height: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 1;
  z-index: 1;
}

.title {
  position: absolute;
  font-family: 'NanumSquare Neo';
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #202020;
  top: 14px;
  left: 16px;
}

.star {
  position: absolute;
  color: #FF4242;
  font-feature-settings: 'ss10' on;
  font-family: "Pretendard JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.9%;
  letter-spacing: 0.203px;
  top: 13px;
  left: 45px;
}

.detail {
  position: absolute;
  overflow: hidden;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  font-family: var(--Font-Family-font-family, "NanumSquare Neo");
  font-size: 18px;
  font-style: normal;
  line-height: var(--Line-Height-line-height-XL, 30px); /* 214.286% */
  letter-spacing: -0.28px;
  top: 38px;
  left: 16px;
}

.input {
  position: absolute;
  top: 38px;
  left: 16px;
  width: 280px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "NanumSquare Neo";
  background-color: transparent;
  color: #202020;
}

.input::placeholder {
  color: #d0d0d0;
}

.icon {
  position: absolute;
  top: 41px;
  right: 16px;
}

.default {
  border: none;
}

.active {
  border: 1px solid #ccc;
}